html {
  background: rgba(0,0,0,.06);

  font-family: -apple-system, BlinkMacSystemFont, "RobotoDraft", "Roboto", "Helvetica", "PingFang SC", sans-serif;
}

body {
  background: transparent;
  margin: 0;
  padding: 0;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  opacity: 0;
}

body.visible {
  opacity: 1;
  transition: opacity 0.5s ease-out;
}

.brand {
  margin-top: 100px;
  text-align: left;
}

.brand .title {
  font-size: 72px;
  line-height: 80px;

  font-weight: 100;
  color: rgba(0,0,0,.87);
}

.brand .desc {
  font-size: 24px;
  line-height: 40px;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: rgba(0,0,0,.70);
}

.brand .desc .pos {
  font-style: italic;
  color: rgba(0,0,0,.30);
}

.entries {
  margin: 140px 50px 0 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.entry {
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 16px;
  line-height: 20px;
  background: rgba(0,0,0, .08);
  color: rgba(0,0,0, .72);
  text-decoration: none;
  opacity: 0.75;
  transition: opacity 0.2s ease;
  cursor: pointer;
  margin: 10px;
  white-space: nowrap;
}

.entry .entry-desc {
  color: rgba(0,0,0,.4);
}

.entry:hover {
  opacity: 1;
}
